<nav>
    <ul>
        <li><a href="/blogs">blogs</a></li>
        
        <% if (isAuthenticated) { %>
            <li><a href="/blogs/logout"> blogs logout</a></li>         
        <% } else { %>
            <li><a href="/blogs/login">blogs login</a></li>         
        <% } %>
    </ul>
</nav>