<%- include ('partials/head', {titlePage:"xXx"}) %>

  <body class="container">       
    <nav><%- include ('partials/nav') %></nav>
    <header><%- include ('partials/header') %></header>  
    <main>    
      <section>      </section>        
      
    </main>      
    <footer><%- include('partials/footer') %></footer>    
  </body>
</html>